html{
   width : 29.7cm;
}

@page{
   size : a4 landscape;
   margin : 0;
   border : none;
}

.container{
   padding : 2%;
   margin : auto;
   max-width : max-content;
}

h1, h2{
  text-align : center;
}

table{
  table-layout : fixed;
}

td{
  font-size : 10px;
}

.alert{
  display : none;
}

.noPrint{
  display : none;
}

.printOnly{
  display : block;
  text-align : center;
}
