@page{
    size: A4 landscape;
  margin : 0;
    padding: 0;
  border : none;
}

h1, h2{
  text-align : center;
}

table{
  table-layout : fixed;
}

td{
  font-size : 10px;
}

.alert{
  display : none;
}

.noPrint{
  display : none;
}

.printOnly{
  display : block;
  text-align : center;
}
